.home-page-style {
    display: flex;
    justify-content: space-evenly;
    margin-right: 100px;
}

.title-text {
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-weight: bold;
    margin-top: 130px;
    color: #da2f84;
}

.title-description {
    text-align: left;
    margin-left: 120px;
    margin-right: 95px;
}

.image img {
    width: 500px;
    height: 330px;
    margin-top: 100px;
}

.btn-style {
    width: 150px;
    background-color: #a3d3fd;
    border: none;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 60px;
}

.btn-style a {
    text-decoration: none;
}

.product-parent-div {
    margin-top: 50px;
}

.product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin-left: 80px;
    margin-right: 80px;
}

.review-btn button {
    background-color: #da2f84;
    width: 200px;
    border: none;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 30px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
}